.bodySearch {
	background: rgb(255, 255, 255);
	margin-top: 80px;
}
.form-control-borderless {
	border: none;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
	border: none;
	outline: none;
	box-shadow: none;
}
.classbtn {
	background-color: #478fcc !important;
	color: #fff;
	border: none;
	width: 90px;
	height: 48px;
	border-radius: 5px;
}
.bodyadd {
	background: rgb(255, 255, 255);
	margin-top: 80px;
}
.classbtnadd {
	background-color: #478fcc !important;
	color: #fff;
	border: none;
	width: 90px;
	height: 48px;
	border-radius: 5px;
	float: right;
	margin-left: 19px;
}
